---
# Default home page with boxes providing collection stats
layout: page
---

  {% include index/description.html %}

  <div class="column">
    <div class="card">
      <img src="https://strikerz45.github.io/Coin-op/objects/loh10.JPG" alt="Loh" style="width:100%">
      <div class="container">
        <h2>Davin Loh</h2>
        <p class="title">Gamer</p>
        <p>A well known player at Galopping Ghost arcade.</p>
        <a href="https://strikerz45.github.io/Coin-op/Davin_Loh.html">
        <p><button class="button">Learn more</button></p>
        </a>
      </div>
    </div>
  </div>

 <div class="column">
    <div class="card">
      <img src="https://strikerz45.github.io/Coin-op/objects/Sean_Davis_Portrait.jpg" alt="Sean" style="width:100%">
      <div class="container">
        <h2>Sean Davis</h2>
        <p class="title">Director</p>
        <p>Director of the Lucky Strike arcade, which has many entertainment selections.</p>
        <a href="https://strikerz45.github.io/Coin-op/Sean_Davis.html">
        <p><button class="button">Learn more</button></p>
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://strikerz45.github.io/Coin-op/objects/spanos01.jpg" alt="Spanos" style="width:100%">
      <div class="container">
        <h2>George Spanos</h2>
        <p class="title">Freelancer</p>
        <p>George is a freelancer engineer that helps restore old arcade machines to get them to work again.</p>
        <a href="https://strikerz45.github.io/Coin-op/George_Spanos.html">
        <p><button class="button">Learn more</button></p>
        </a>
      </div>
    </div>
  </div>
</div>

<a href="https://strikerz45.github.io/Coin-op/Interviews.html">
  <button class="buttonH"><span>More Interviews </span></button>
</a>

<div class="row">
  <div class="col-md-8">

    {% include index/carousel.html title="Sample Items" height="400" %}
  
  
  </div>

  <div class="col-md-4">  


    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}


  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
