---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
{% comment %}
    
    Audio embed from an item's objectid or external link.
    This include adds a audio embed to the page using the html "audio" element.

    E.G. --> {% include feature/audio.html objectid="demo_003" %}

    It requires an "objectid" with the include, which is used to find the audio details. Alternatively, a URL to an external audio file can be used in "objectid".

    Options: 
    - "objectid" = several options below (required)
        - an objectid of an audio item in this collection, e.g. "demo_003" 
        - an external link to an MP3 file hosted elsewhere, e.g. "https://www.lib.uidaho.edu/digital/mp3s/Clouds.mp3"   
        - a relative link to an MP3 file somewhere else in this repository, e.g. "/assets/example.mp3"
    - "caption" = by default the figure include automatically adds the title of the item from your metadata. The caption option allows you to manually add a different caption, or give the value false for none. (optional)

    Note: if you have issues make sure the item is a audio item.
    Audio file may not play correctly from dev server on Chrome browser! It will work in production.

{%- endcomment -%}
{% if include.objectid contains "/" %}
{%- capture src -%}{{ include.objectid | relative_url }}{%- endcapture -%}
{%- capture audio_link -%}{{ src }}{%- endcapture -%}
{%- capture audio_caption -%}{{ include.caption }}{%- endcapture -%}
{% else %}
{%- assign item = site.data[site.metadata] | where: "objectid", include.objectid | first -%}
{%- capture audio_link -%}{{ '/item.html' | relative_url | append: '?id=' | append: item.objectid }}{%- endcapture -%}
{%- capture src -%}{% if item.filename contains '/' %}{{ item.filename | relative_url }}{% else %}{{ '/objects/' | append: item.filename | relative_url }}{% endif %}{% endcapture %}
{%- capture audio_caption -%}{% if include.caption %}{{ include.caption }}{% else %}{{ item.title }}{% endif %}{%- endcapture -%}
{% endif %}
<p class="text-center my-3">
    <audio controls class="w-100">
        <source src="{{ src }}" >
        Your browser does not support the audio element.
    </audio>
    {% unless include.caption == false %}<small class="figure-caption"><a href="{{ audio_link }}">{{ audio_caption }}</a></small>{% endunless %}
</p>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://strikerz45.github.io/Coin-op/objects/Portrait%201.jpg" alt="doc" style="width:100%">
      <div class="container">
        <h2>Doc Mack</h2>
        <p class="title">Owner &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <a href="https://strikerz45.github.io/Coin-op/Galloping_Ghost_Arcade.html">
        <p><button class="button">Contact</button></p>
        </a>
      </div>
    </div>
  </div>

 <div class="column">
    <div class="card">
      <img src="https://strikerz45.github.io/Coin-op/objects/Sean_Davis_Portrait.jpg" alt="Sean" style="width:100%">
      <div class="container">
        <h2>Sean Davis</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <a href="https://strikerz45.github.io/Coin-op/item.html?id=LuckyStrike19">
        <p><button class="button">Contact</button></p>
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://strikerz45.github.io/Coin-op/objects/spanos01.jpg" alt="Spanos" style="width:100%">
      <div class="container">
        <h2>George Spanos</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <a href="https://strikerz45.github.io/Coin-op/item.html?id=georgeSpanos03">
        <p><button class="button">Contact</button></p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    {% include index/carousel.html title="Sample Items" height="500" %}
    
      {% include index/description.html %}
  
  </div>

  <div class="col-md-4">  


    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
